$main-color: rgb(207, 10, 0);
$secondary-color: rgb(48, 48, 48);
$pure-white: #fff;
$light-white: #ddd;
$dark: #2e2e2e;
$orange-color: rgb(249, 69, 19);
$orange-color-hover: rgb(149, 0, 0);

$light-green-gradient: linear-gradient(
	45deg,
	rgba(64, 64, 64, 0.75),
	rgba(26, 201, 93, 0.488)
);

$red-gradient: linear-gradient(
	45deg,
	rgba(190, 9, 0, 0.344),
	rgba(4, 4, 4, 0.75)
);

$purple-gradient: linear-gradient(
	45deg,
	rgba(31, 31, 31, 0.75),
	rgba(142, 0, 152, 0.549)
);

$red-gradient-solid: linear-gradient(45deg, rgb(179, 36, 0), rgb(49, 49, 49));

$light-red-gradient-solid: radial-gradient(
	circle at top right,
	rgb(169, 0, 0) 0%,
	rgb(45, 5, 5) 100%
);
